.logInContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background-color: #F1F3F6;
    grid-template-areas: " illustraion login ";
}

.contentCenter{
    display: flex;  
    justify-content: center;
    align-items: center;
}

.login{
    grid-area: login;
}

.illustraion{
    grid-area: illustraion;
}

.logInDetailsContainer{
    display: grid;
    grid-template-rows: 70px 40px 60px 60px 35px 25px 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 100px 30px 100px 30px;
    background-color: #ffff;
}

.EmailContainer{
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 20px 30px;
}

.email1{
    grid-column: 1/3 ;
}

.email2{
    background-color: #F1F3F6;
    border-radius: 5px;
}

.email3{
    background-color: #FD7401;
    color: #ffffff;
    border-radius: 5px;
}

.loginNow{
    background-color: #FD7401;
    border-radius: 5px;
    color: #ffffff;
}


.signupNow{
    border: 1px solid #FD7401;
    border-radius: 5px;
    color: #FD7401;
}

.my-text {
    font-weight: 400;      /* Regular weight */
    font-size: small;
    color: #555555;
  }
